body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: #000;
  background-color: #F8F8F8;
  margin:0;
  padding: 30px 60px;
}
header, section, footer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* -- Header styles */
header {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 24px;
}
header h1 {
  font-size: 2.2rem;
  height: 80%;
  background-image: url("../images/ic-logo.svg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
header h1 span {
 font-size: 1.2rem;
 width: 16rem;
 text-transform: uppercase;
 font-weight: normal;
 margin-left: 2.6rem;
}
header h1 strong {
  font-weight: bold;
  margin-left: -0.2rem;
}
header ul {

}
header ul li {
  list-style: none;
  display: inline-block;
}
header ul li a {
  font-size: 1rem;
  margin: 0 6px;
  text-decoration: none;
  color: #000;
}
/* -- Content styling */
section {
  padding: 32px 24px;
  display: flex;
}
section img {
  max-width: 100%;
  height: auto;
  display: block;
}
.col1 {
  width: 60%;
}
.col2 {
  width: 40%;
}
/* ---- Top row */
#banner {
  background-color: #D8D8D8;
  align-items: center;
}
#banner .col1 {
  height: 100%;
}
#banner .col2 {
  padding: 0 80px 0 40px;
  color: #282828;
}
#banner h2 {
  font-size: 2rem;
}
#banner a {
  display: block;
  width: 100%;
  background-color: #282828;
  color: #D8D8D8;
  text-decoration: none;
  padding: 8px;
  text-align: center;
}

/* Mobile-only styles */
@media only screen and (max-width : 480px) {
body {
  padding: none;
}

}
